<h2>Welcome to Pizza Shop!</h2>
<button class="btn btn-primary" onclick="something()">Click Me!</button>
<br />
<br />
<% @products.each do |product| %>
            <div class="card" style="width: 32rem;">
  			<div class="card-body">
    			<h5 class="card-title"><%= product.title %></h5>
    			<img class="card-img-top" src="<%= product.path_to_image %>" alt="Card image cap">
    			<p class="card-text"><%= product.description %></p>
    			<p class="card-text" align="justify">Size: <%= product.size %>. Price: <%= product.size %> р.</p>
  </div>
<br />
<br />
<% end %>

</div>
